Lab2/src/ConsoleApp/src/main/java/lab2/LaptopService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab2/" name="LaptopService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab2/" schemaLocation="http://localhost:8080/LaptopService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getLaptopsByFilter">
<part name="parameters" element="tns:getLaptopsByFilter"></part>
</message>
<message name="getLaptopsByFilterResponse">
<part name="parameters" element="tns:getLaptopsByFilterResponse"></part>
</message>
<message name="insertLaptop">
<part name="parameters" element="tns:insertLaptop"></part>
</message>
<message name="insertLaptopResponse">
<part name="parameters" element="tns:insertLaptopResponse"></part>
</message>
<message name="deleteAllLaptops">
<part name="parameters" element="tns:deleteAllLaptops"></part>
</message>
<message name="deleteAllLaptopsResponse">
<part name="parameters" element="tns:deleteAllLaptopsResponse"></part>
</message>
<message name="getLaptops">
<part name="parameters" element="tns:getLaptops"></part>
</message>
<message name="getLaptopsResponse">
<part name="parameters" element="tns:getLaptopsResponse"></part>
</message>
<message name="deleteLaptop">
<part name="parameters" element="tns:deleteLaptop"></part>
</message>
<message name="deleteLaptopResponse">
<part name="parameters" element="tns:deleteLaptopResponse"></part>
</message>
<message name="updateLaptop">
<part name="parameters" element="tns:updateLaptop"></part>
</message>
<message name="updateLaptopResponse">
<part name="parameters" element="tns:updateLaptopResponse"></part>
</message>
<portType name="LaptopWebService">
<operation name="getLaptopsByFilter">
<input wsam:Action="http://lab2/LaptopWebService/getLaptopsByFilterRequest" message="tns:getLaptopsByFilter"></input>
<output wsam:Action="http://lab2/LaptopWebService/getLaptopsByFilterResponse" message="tns:getLaptopsByFilterResponse"></output>
</operation>
<operation name="insertLaptop">
<input wsam:Action="http://lab2/LaptopWebService/insertLaptopRequest" message="tns:insertLaptop"></input>
<output wsam:Action="http://lab2/LaptopWebService/insertLaptopResponse" message="tns:insertLaptopResponse"></output>
</operation>
<operation name="deleteAllLaptops">
<input wsam:Action="http://lab2/LaptopWebService/deleteAllLaptopsRequest" message="tns:deleteAllLaptops"></input>
<output wsam:Action="http://lab2/LaptopWebService/deleteAllLaptopsResponse" message="tns:deleteAllLaptopsResponse"></output>
</operation>
<operation name="getLaptops">
<input wsam:Action="http://lab2/LaptopWebService/getLaptopsRequest" message="tns:getLaptops"></input>
<output wsam:Action="http://lab2/LaptopWebService/getLaptopsResponse" message="tns:getLaptopsResponse"></output>
</operation>
<operation name="deleteLaptop">
<input wsam:Action="http://lab2/LaptopWebService/deleteLaptopRequest" message="tns:deleteLaptop"></input>
<output wsam:Action="http://lab2/LaptopWebService/deleteLaptopResponse" message="tns:deleteLaptopResponse"></output>
</operation>
<operation name="updateLaptop">
<input wsam:Action="http://lab2/LaptopWebService/updateLaptopRequest" message="tns:updateLaptop"></input>
<output wsam:Action="http://lab2/LaptopWebService/updateLaptopResponse" message="tns:updateLaptopResponse"></output>
</operation>
</portType>
<binding name="LaptopWebServicePortBinding" type="tns:LaptopWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getLaptopsByFilter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertLaptop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteAllLaptops">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLaptops">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteLaptop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateLaptop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="LaptopService">
<port name="LaptopWebServicePort" binding="tns:LaptopWebServicePortBinding">
<soap:address location="http://localhost:8080/LaptopService"></soap:address>
</port>
</service>
</definitions>