Lab7/write.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab3/" name="LaptopService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://lab3/" schemaLocation="http://localhost:8080/LaptopService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getLaptopsByFilter">
        <part name="parameters" element="tns:getLaptopsByFilter"/>
    </message>
    <message name="getLaptopsByFilterResponse">
        <part name="parameters" element="tns:getLaptopsByFilterResponse"/>
    </message>
    <message name="deleteLaptop">
        <part name="parameters" element="tns:deleteLaptop"/>
    </message>
    <message name="deleteLaptopResponse">
        <part name="parameters" element="tns:deleteLaptopResponse"/>
    </message>
    <message name="BaseServiceException">
        <part name="fault" element="tns:BaseServiceException"/>
    </message>
    <message name="deleteAllLaptops">
        <part name="parameters" element="tns:deleteAllLaptops"/>
    </message>
    <message name="deleteAllLaptopsResponse">
        <part name="parameters" element="tns:deleteAllLaptopsResponse"/>
    </message>
    <message name="getLaptops">
        <part name="parameters" element="tns:getLaptops"/>
    </message>
    <message name="getLaptopsResponse">
        <part name="parameters" element="tns:getLaptopsResponse"/>
    </message>
    <message name="insertLaptop">
        <part name="parameters" element="tns:insertLaptop"/>
    </message>
    <message name="insertLaptopResponse">
        <part name="parameters" element="tns:insertLaptopResponse"/>
    </message>
    <message name="updateLaptop">
        <part name="parameters" element="tns:updateLaptop"/>
    </message>
    <message name="updateLaptopResponse">
        <part name="parameters" element="tns:updateLaptopResponse"/>
    </message>
    <portType name="LaptopWebService">
        <operation name="getLaptopsByFilter">
            <input wsam:Action="http://lab3/LaptopWebService/getLaptopsByFilterRequest" message="tns:getLaptopsByFilter"/>
            <output wsam:Action="http://lab3/LaptopWebService/getLaptopsByFilterResponse" message="tns:getLaptopsByFilterResponse"/>
        </operation>
        <operation name="deleteLaptop">
            <input wsam:Action="http://lab3/LaptopWebService/deleteLaptopRequest" message="tns:deleteLaptop"/>
            <output wsam:Action="http://lab3/LaptopWebService/deleteLaptopResponse" message="tns:deleteLaptopResponse"/>
            <fault message="tns:BaseServiceException" name="BaseServiceException" wsam:Action="http://lab3/LaptopWebService/deleteLaptop/Fault/BaseServiceException"/>
        </operation>
        <operation name="deleteAllLaptops">
            <input wsam:Action="http://lab3/LaptopWebService/deleteAllLaptopsRequest" message="tns:deleteAllLaptops"/>
            <output wsam:Action="http://lab3/LaptopWebService/deleteAllLaptopsResponse" message="tns:deleteAllLaptopsResponse"/>
        </operation>
        <operation name="getLaptops">
            <input wsam:Action="http://lab3/LaptopWebService/getLaptopsRequest" message="tns:getLaptops"/>
            <output wsam:Action="http://lab3/LaptopWebService/getLaptopsResponse" message="tns:getLaptopsResponse"/>
        </operation>
        <operation name="insertLaptop">
            <input wsam:Action="http://lab3/LaptopWebService/insertLaptopRequest" message="tns:insertLaptop"/>
            <output wsam:Action="http://lab3/LaptopWebService/insertLaptopResponse" message="tns:insertLaptopResponse"/>
            <fault message="tns:BaseServiceException" name="BaseServiceException" wsam:Action="http://lab3/LaptopWebService/insertLaptop/Fault/BaseServiceException"/>
        </operation>
        <operation name="updateLaptop">
            <input wsam:Action="http://lab3/LaptopWebService/updateLaptopRequest" message="tns:updateLaptop"/>
            <output wsam:Action="http://lab3/LaptopWebService/updateLaptopResponse" message="tns:updateLaptopResponse"/>
            <fault message="tns:BaseServiceException" name="BaseServiceException" wsam:Action="http://lab3/LaptopWebService/updateLaptop/Fault/BaseServiceException"/>
        </operation>
    </portType>
    <binding name="LaptopWebServicePortBinding" type="tns:LaptopWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getLaptopsByFilter">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteLaptop">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BaseServiceException">
                <soap:fault name="BaseServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteAllLaptops">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLaptops">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertLaptop">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BaseServiceException">
                <soap:fault name="BaseServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateLaptop">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BaseServiceException">
                <soap:fault name="BaseServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="LaptopService">
        <port name="LaptopWebServicePort" binding="tns:LaptopWebServicePortBinding">
            <soap:address location="http://localhost:8080/LaptopService"/>
        </port>
    </service>
</definitions>